h3 Callback

p Callback function receives ```err``` and a hash of return values.

table
  tr
    th Field
    th Type
    th Original Redecard Field
    th Description
  -each def in defs
    tr
      td=def.field
      td=def.type
      td=def.key
      td=def.description
